VITE_PAYSTACK_PUBLIC_KEY=
# Get this from your Paystack Dashboard (test or live)
# It MUST start with VITE_ to be visible in the frontend.

# Server-side Secret Key (keep this private)
PAYSTACK_SECRET_KEY=
ADMIN_SECRET=
RESEND_API_KEY=
GEMINI_API_KEY=

# WhatsApp Meta API Integration
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
ADMIN_WHATSAPP_NUMBER=
WHATSAPP_VERIFY_TOKEN=
